<!-- <div class="col-md-4 my-2"> -->
  <div class="card-content">
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="">
      <span><h4>{{posicion}}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{destino.nombre}}</h3>
      <p>Servicios</p>
      <ul>
        <li *ngFor="let s of destino.servicios">
          <span [ngSwitch]="s">
            <i *ngSwitchCase="'desayuno'" style="color: red">{{s}}</i>
            <i *ngSwitchDefault>{{s}}</i>
          </span>
        </li>
      </ul>
      <a href="#" class="btn-card" (click)="ir()">IR</a>
      <span *ngIf="destino.isSelected()">
        <span ngNonBindeable>
          <i class="bi bi-heart-fill ml-2"></i>
        </span>
      </span>
      <a class="nav-link" [routerLink]="['/destino', destino.id]">Detalle</a>
    </div>
  </div>
<!-- </div> -->
